.swiper-button-next {
  right: 42.5px;
  color: #ffba08;
}
.swiper-button-prev {
  left: 42.5px;
  color: #ffba08;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 2rem;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #999999;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #ffba08;
}

.swiper-scrollbar {
  background: #999999;

  .swiper-scrollbar-drag {
    background: #ffba08;
  }
}

@media (max-width: 48em) {
  .swiper-button-next {
    right: 24px;
  }
  .swiper-button-prev {
    left: 24px;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1rem;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }

  .swiper-scrollbar {
    background: #999999;

    .swiper-scrollbar-drag {
      background: #ffba08;
    }
  }
}
